* { /*visual help to know where elements limits are*/
  outline: 1px solid red; 
}

html{
  margin: 0;
  padding: 0;
}
header {
  background-image: url("../img/banner-top.png"); /* Books banner */
  background-repeat: repeat-x;
  background-size: auto 50px;
  background-position: top left;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5; /*It has to be on top of the body*/
}

/* Small strip to cover free bits that shouldn't be seen*/
.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;          
  background-color: #472d12;
  z-index: 5;
}

div{
  display: block;
}
body {
  background-color: #472d12;
  color: black;
  font-family: Verdana;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #523110;
  font-family: 'Lucida Handwriting', Lucida, cursive;
}

.page-body {
  background-color: #d8b38e;
  width: 85%;
  margin: 25px auto;   
  position: relative;
  top: 0px;
  z-index: 1;
  padding: 15px;
  padding-top: 30px;
  bottom: 150px;
}

.side-menu {
  border: 4px solid #36210d;
  border-radius: 10px;
  width: 250px;
  background-color: #794f24;
  padding: 10px;
  font-size: 25px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-menu a {
  border: 2px solid #36210d;
  border-radius: 5px;
  padding: 10px;
}


.oliver {
  background-color: #4a90e2;
}

.veronica {
  background-color: #6abf69;
}

.tom {
  background-color: #f5a623;
}

.connor {
  background-color: #d0021b;
}

.footer {
  background-color: #ae865d;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; 
  z-index: 67;
  font-size: 9px;
  /*must be smaller than the try div, and must be at the bottom of the page*/
}

.footer img {
  height: 100%;
  width: auto;
  object-fit: contain;
  float: left;
}